@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-sm-6">
        <button type="button" class="btn btn-block btn-primary">
            <a href="../Usuario/Login" style="color:#fff; text-decoration:none">Entrar no Sistema</a>
        </button>
    </div>
    <div class="col-sm-6">
        <button type="button" class="btn btn-block btn-success">
            <a href="../Usuario/Registrar" style="color:#fff; text-decoration:none">
                Registrar uma conta teste
            </a>
        </button>
    </div>
</div>